<a href="https://colab.research.google.com/github/nenuchepanu001/PythonTutorial/blob/main/FunctionalProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pure functions

def multiply_by2(li):
  new_list=[]
  for item in li:
    new_list.append(item*2)
  return new_list

print(multiply_by2([1,2,3]))

[2, 4, 6]

In [7]:
#map,filter,zip and reduce

my_list = [1,2,3]
def multiply_by2(item):
  return item*2

print(list(map(multiply_by2,my_list)))
print(my_list)

[2, 4, 6]
[1, 2, 3]

In [8]:
#filter

def only_odd(item):
  return item % 2 != 0

print(list(filter(only_odd,my_list)))

[1, 3]

In [14]:
#zip
my_list = [1,2,3]
ur_list = [10,20,30]

print(list(zip(my_list,ur_list)))

[(1, 10), (2, 20), (3, 30)]

In [17]:
#reduce

from functools import reduce

def accumulator(acc,item):
  print(acc,item)
  return acc + item


print(reduce(accumulator,my_list,0))

0 1
1 2
3 3
6

In [18]:
#lambda

#lambda parameter: manipulation(parameter)

my_list = [1,2,3]

print(list(map(lambda item: item*2,my_list)))

[2, 4, 6]

In [21]:
my_list  = [5,4,3]

print(list(map(lambda x: x**2,my_list)))

[25, 16, 9]

In [24]:
#list sorting
a= [(0,2),(4,3),(9,9),(10,-1)]

print(a.sort())
a.sort(key = lambda x:x[1])
print(a)

None
[(10, -1), (0, 2), (4, 3), (9, 9)]

In [25]:
#list,set,dict comprehensions

my_list = []

for char in 'hello':
  my_list.append(char)

print(my_list)

['h', 'e', 'l', 'l', 'o']

In [31]:
my_list = [item for item in 'hello']
print(my_list)

my_list2 = [num for num in range(0,100)]
print(my_list2)


my_list3 = [num*2 for num in range(0,100)]
print(my_list3)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [33]:

my_list4 = [num**2 for num in range(0,100) if num%2==0]
print(my_list4)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [35]:
#sets
my_list = {item for item in 'hello'}
print(my_list)

my_list2 = {num for num in range(0,100)}
print(my_list2)

{'l', 'o', 'h', 'e'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [36]:
#dict

simple = {'a':1,'b':2}
my_dict =  {key:value**2 for key,value in simple.items()}
print(my_dict)

{'a': 1, 'b': 4}