<a href="https://colab.research.google.com/github/nenuchepanu001/PythonTutorial/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DataTypes:
    #Fundamental Datatypes
    int
    float
    bool
    str
    list
    tuple
    set
    dict
    
    #classes --> custom types

    #Specialized DataTypes
      Modules
    None

In [ ]:
print(type(6))
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))
print(type(20+1.1))
print(type(20.9+1.1))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
print( 2 ** 3)
print( 5 // 4)
print( 6 % 4)

8
1
2

In [ ]:
# mathfunctions

print(round(3.1))
print(round(3.9))
print('----')
print(abs(-20))

3
4
----
20
8

In [ ]:
#operator precedence

# (), **, * , /, + , -

print(20 + 3 * 4)
print(20 - 3 * 4)

32
8

In [ ]:
#bin and complex

print(bin(5))
print(int('0b101',2))

0b101
5

In [ ]:
# varaibles
iq = 190
print(iq)

#constants
PI = 3.14

190

In [ ]:
#Expressions and Statements

#augumented assignment operator

some_value=5
some_value = some_value +2

print(some_value)

some_value +=2
print(some_value)

some_value -=2
print(some_value)

some_value *=2
print(some_value)

some_value /=2
print(some_value)

7
9
7
14
7.0

In [ ]:
# Strings

print('hi hello there')
print("hi hello there")
print(type('hi hello there'))

username = 'supercoder'
password = 'supersecret'

long_string = '''
WOW
O O
---
'''

print(username)

print(long_string)

print(username +' '+ password)

hi hello there
hi hello there
<class 'str'>
supercoder

WOW
O O
---

supercoder supersecret

In [ ]:
# string concatenation

'hello' + ' ' + "anderi"

'hello anderi'

In [ ]:
print(type(str(100)))

a = str(100)
b = int(a)
c = type(b)

print(c)

<class 'str'>
<class 'int'>

In [ ]:
weather = "It\'s \"kind of\" Sunny"

print(weather)

It's "kind of" Sunny

In [ ]:
# FOrmmatted strings

fname = 'Krishna'
age = 1000

print('hi ' + fname)

print('hi '+ fname + '. you are '+str(age)+ ' years old')

print(f'hi {fname} you are {age} years old')

print('hi {}. you are {} years old'.format('Krishna','1000'))

hi Krishna
hi Krishna. you are 1000 years old
hi Krishna you are 1000 years old
hi Krishna. you are 1000 years old

In [ ]:
#string Indexes

'me me me'
#01234567

selfish = 'me me me'

print(selfish[7])

#[start:stop:stepover]
print(selfish[0:3])

selfish = '01234567'
print(selfish[0:8])

print(selfish[0:8:1])

e
me
01234567
01234567

In [ ]:
print(selfish[0:8:2])

print(selfish[1:])
print(selfish[:5])

print(selfish[::2])

print(selfish[::-1])

print(selfish[::-2])

0246
1234567
01234
0246
76543210
7531

In [ ]:
#Immutability

selfish = '01234567'
print(selfish)

selfish= selfish+'8'

print(selfish)

01234567
012345678

In [ ]:
#built in functions

print(len('helloooooooo'))

greet='hello'

print(greet[0:3])

12
hel